/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*~
/logs
/slack-api-token.txt
/incoming-webhook-url.txt
/dev/control.clj
/uvahax-api-token.txt
